function Memory.init 1
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 16384
pop static 2
push constant 0
pop static 3
push constant 1
pop static 4
push constant 2
pop static 5
push static 1
pop local 0
push static 3
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 4
push local 0
add
push static 2
push static 1
sub
push static 5
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
pop static 6
push constant 0
pop static 7
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.firstFit 2
push static 6
pop local 0
push constant 0
not
pop local 1
label WHILE_EXP0
push local 1
not
if-goto WHILE_END0
push static 4
push local 0
add
pop pointer 1
push that 0
push argument 0
lt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
return
label IF_FALSE0
push local 0
pop static 7
push static 3
push local 0
add
pop pointer 1
push that 0
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Memory.bestFit 3
push static 6
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label WHILE_EXP0
push static 3
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto WHILE_END0
push static 4
push local 0
add
pop pointer 1
push that 0
push argument 0
lt
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 4
push local 0
add
pop pointer 1
push that 0
push static 4
push local 1
add
pop pointer 1
push that 0
gt
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 2
pop static 7
push local 0
pop local 1
label IF_FALSE2
goto IF_END1
label IF_FALSE1
push local 2
pop static 7
push local 0
pop local 1
label IF_END1
label IF_FALSE0
push local 0
pop local 2
push static 3
push local 0
add
pop pointer 1
push that 0
pop local 0
goto WHILE_EXP0
label WHILE_END0
push static 4
push local 0
add
pop pointer 1
push that 0
push argument 0
lt
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push constant 0
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push static 4
push local 0
add
pop pointer 1
push that 0
push static 4
push local 1
add
pop pointer 1
push that 0
gt
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 2
pop static 7
push local 0
pop local 1
label IF_FALSE5
goto IF_END4
label IF_FALSE4
push local 2
pop static 7
push local 0
pop local 1
label IF_END4
label IF_FALSE3
push local 1
return
function Memory.alloc 2
push argument 0
call Memory.bestFit 1
pop local 0
push local 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push static 4
push local 0
add
pop pointer 1
push that 0
push argument 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 7
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push static 3
push static 7
add
push static 3
push local 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END2
label IF_FALSE2
push static 3
push local 0
add
pop pointer 1
push that 0
pop static 6
label IF_END2
goto IF_END1
label IF_FALSE1
push local 0
push argument 0
push static 5
add
add
pop local 1
push static 3
push local 1
add
push static 3
push local 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 4
push local 1
add
push static 4
push local 0
add
pop pointer 1
push that 0
push argument 0
push static 5
add
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 7
push constant 0
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push static 3
push static 7
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END3
label IF_FALSE3
push local 1
pop static 6
label IF_END3
label IF_END1
push constant 0
pop static 7
push static 3
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 4
push local 0
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push static 5
add
return
function Memory.deAlloc 3
push argument 0
push static 5
sub
pop local 2
push static 6
pop local 0
push static 3
push local 0
add
pop pointer 1
push that 0
pop local 1
label WHILE_EXP0
push local 1
push constant 0
eq
not
push local 1
push local 2
lt
and
not
if-goto WHILE_END0
push local 1
pop local 0
push static 3
push local 0
add
pop pointer 1
push that 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
push local 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 3
push local 2
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
pop static 6
push local 2
push local 0
call Memory.defragment 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 3
push local 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push local 2
call Memory.defragment 2
pop temp 0
goto IF_END1
label IF_FALSE1
push static 3
push local 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 3
push local 2
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push local 1
call Memory.defragment 2
pop temp 0
push local 0
push local 2
call Memory.defragment 2
pop temp 0
label IF_END1
label IF_END0
push constant 0
return
function Memory.defragment 0
push argument 0
push static 4
push argument 0
add
pop pointer 1
push that 0
add
push static 5
add
push argument 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 4
push argument 0
add
push static 4
push argument 0
add
pop pointer 1
push that 0
push static 4
push argument 1
add
pop pointer 1
push that 0
add
push static 5
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 3
push argument 0
add
push static 3
push argument 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push constant 0
return
